<div  class="container">
  <div class="row">
    <div class="col-md-5">
      <h3><span>マイページ</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h5>登録情報</h5><span class="ml-5"><%= link_to "編集する",   customers_information_edit_path, class: "btn btn-success btn-sm" %></span>
      <div class="table-responsive-md">
        <table class="table">
          <tr>
            <td class="bg-light" style="width:25%">氏名</td>
            <td style="width:75%"><%= current_customer.nickname %></td>
          </tr>
          <tr>
            <td class="bg-light">メールアドレス</td>
            <td><%= current_customer.email %></td>
          </tr>
        </table>
      </div>

        <div class="col-md-3 d-flex flex-column">
          <div class="my-2"><%= link_to "レビュー一覧を見る", reviews_path, class: "btn btn-primary btn-sm" %></div>
        </div>
      </div>
    </div>
  </div>
