<div class="container">
  <div class="row">
    <div class="col">
       <div class="d-flex justify-content-center mb-4 text-black">
         <h1 class="display-1 text-light">About</h1>
       </div>
        <div class="col mb-5 text-white" style="background-color: #343a40; opacity: 0.8;">
          <h4 class="text-center">このサイトはウイスキーのレビューサイトです。<br/>
          お酒を呑んだ事の無い方やこれから知ろうとしている人など<br/>
          様々な人に利用していただけるように制作しました。<br/>
          ぜひご活用ください。</h4>
        </div>
    </div>
  </div>
</div>