<div class="container">
  <div class="row">
    <div class="col">
       <div class="d-flex justify-content-center mb-4 text-black">
       </div>

        <div class="col mb-5 text-white" style="background-color: #343a40; opacity: 0.8;">
          <div class="text-center">
            <h3>ようこそ,ISO_whiskey_reviewへ！！</h3>
              <p>
                このサイトはおうち時間を充実させる為のウイスキーレビューサイトです。<br>
                昨今の流行り病の影響であまり外出ができずに家で過ごさなければいけない時間<br>
                [おうち時間]が増えた事により,家にいる時間を充実させるられるような事を考えた時<br>
                自分がウイスキーが好きでこれまでに沢山のウイスキーを呑んできた事を活かして<br>
                沢山の人にウイスキーの魅力を知ってもらい,家にいる時の楽しみを増やすことができたらと思い<br>
                今回の様なレビューサイトの製作をしました。<br>
                お酒が全く飲めない人でも興味を持ってもらえるようなサイトを目指しました。<br>
              </p>
        <p>まずはこちらの<%= link_to 'ゲストログイン', customers_gest_sign_in_path, method: :post %>でお試しください！</p>
        </div>
    </div>


    <h2 class="mt-5 mb-3 text-white text-center" style="background-color: #343a40; opacity: 0.8; width: 150px;">新着レビュー</h2>
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-eq-height">

